@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
section {
    background-color: rgb(245, 245, 245)
}
.container {
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
}
.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
.click {
    transition: transform 300ms ease;
}
.click:hover {
    transform: scale(1.1);
}
.click:active {
    transform: scale(0.8);
}
.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}
.orange {
    color: blueviolet !important;
    font-weight: bold;
}

/* LANDING PAGE */
#landing-page {
    min-height: 100vh;
}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 30px;
}
.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}
.social__list {
    margin-top: 16px;
    display: flex;
}
.social__link {
    background-color: #8a2be2;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;   
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
}
.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}
.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll__icon {
    width: 20px;
    height: 30px;
    border: 1px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 1px;
    animation: scroll 1000ms infinite alternate-reverse;
}
@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

/* NAVIGATION */
nav {
    width: 100%;
    max-width: 1100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 48px;
    padding: 0 8px;
    height: 100px;  
}
#personal-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}
.nav__link--list {
    display: flex;
    gap: 24px;
}
.nav__link {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    transition: color 0.3s ease;
}
.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}
.fa-adjust {
    font-size: 20px;
}

/* MODAL */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
    height: 550px;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.modal__half {
    width: 50%;  
    padding: 40px;
    display: flex;
}
.modal__about {
    background-color: rgb(245, 245, 245);   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal__title {
    font-size: 36px;
    margin-bottom: 16px;
}
.modal__sub-title {
    font-size: 20px;
    margin-bottom: 24px;
}
.modal__para {
    font-size: 16px;
    margin-bottom: 32px;
}
.modal__languages {   
    display: flex;
    flex-wrap: wrap;
}
.modal__language {
    width: 25%;  
    padding: 16px;  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}
.modal__language:hover .language__name{
    transform: scale(1.1);
}
.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}
.modal__language--img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 16px;
}
.language__name {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    transform: scale(0);
    transition: all 300ms ease;
}
.modal__contact {
    background-color: #242424;
    color: white;
}

/*PROJECTS SECTION */
.section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
}
.project__img {
    width: 100%;
    transition: all 600ms ease;
}
.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80 0 rgba(0, 0, 0, 0.45);
    overflow: hidden;
}
.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}
.project__wrapper:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}
.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}
.project__wrapper:hover .project__wrapper--bg{
    opacity: 0.7;
    visibility: visible;
}
.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    visibility: hidden;
}
.project__description--title {
    font-size: 40px;
    margin-bottom: 12px;
}
.project__description--sub-title {
    font-size: 20px;
    margin-bottom: 16px;
}
.project__description--para {
    margin: 16px 0;
    font-size: 16px;
}
.project__link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: white;
}
.footer__row {
    width: 100%;
    max-width: 1100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__logo--img {
    width: 75px;
    height: 75px;
    filter: invert(1);
}
.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.footer__social--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
    padding: 32px 0;
}